  <div id="waiting">Connecting to chat server...</div>
  <div id="info"></div>
  <div id="under_info"></div>
  <div id="instructions">Video not enabled; enable video and wait 4 seconds to post video emoticons.</div>
  <div id="faq">Want to Learn More?</div>
  <div id="more_faq"> Face Slicer is a text chatting application that turns your emoticons into videos of your actual emotions! Video clips last 2 seconds; hit enter on your emoticon after you make the face you want, then choose which part of your face you want to show.
  </div>
  <div id="second_counter"></div>
  <div id="conversation"></div>
  <div id="submission">
    <input type="text" placeholder="say something..">
  </div>
  <div id="webcam_stream"></div>
  <div id="video_container"></div>
  <div id="edit_menu"> Click to post slice.
      <video id="edit_vid"></video>
      <div id="top_hider" class="hider"></div>
      <div id="bottom_hider" class="hider"></div>
  </div>