
@main_background: #F8E0D9;
@convo_background: #E0EBFF;
@border_color: #dcc;

html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: @main_background;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#info {
  position: fixed;
  background: #eee;
  padding: 10px;
  width: 100%;
  border-bottom-style: solid;
  border-color: @border_color;
}

#under_info {
  height: 50px;  
}

#webcam_stream{
  position: fixed;
  top: 20px;
  right: 10px;
  padding: 0;
  video{
    border: 2px solid #dcc;
  }
}

#second_counter{
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  z-index: 999;
}

#conversation{
  position: fixed;
  margin-left: 5px;
  margin-top: 5px;

  height: 70%;
  width: 75%;
  background-color: @convo_background;
  overflow:auto;

  border-style: solid;
  border-color: @border_color;
}

#submission{
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 0;
  border-top: 2px solid @border_color;
  background: #fff;

  input{
    border: none;
    font-size: 15px;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
  }
}

#waiting{
  position:fixed;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  background: #292929;
  color:white;
  text-align: center;
  padding: 50px 0;
}

#edit_menu {
  background-color: @main_background;
  position: fixed;
  bottom: 230px;
  right: 70px;
  display: none;
}

.hider {
  position: absolute;
  background-color: @main_background;
  opacity: .6;
  height: 60px;
  width: 200px;
}

#top_hider {
}

#bottom_hider {
  bottom: -150px;
}

#edit_vid {
  position: absolute;
}

#instructions {
  color: red;
  padding: 5px;
}

#faq {
  background: #eee;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 50px;
  padding: 5px;
  border-style: solid;
  border-color: @border_color;
}

#more_faq {
  background: #eee;
  position: fixed;
  right: 10px;
  top: 80px;
  padding: 5px;
  display: none;
  width: 200px;
  border-style: solid;
  border-color: @border_color;
}


